<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Fournisseurs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Liste des Fournisseurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom de l'entreprise</th>
                <th>Nom du contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="fournisseur : ${fournisseurList}">
                <td th:text="${fournisseur.id}"></td>
                <td th:text="${fournisseur.companyName}"></td>
                <td th:text="${fournisseur.contactName}"></td>
                <td>
                    <a th:href="@{/rechercherFournisseur(id=${fournisseur.id})}" class="btn btn-info">Détails</a>
                    <a th:href="@{/modifierFournisseur(id=${fournisseur.id})}" class="btn btn-warning">Modifier</a>
                    <form th:action="@{/supprimerFournisseur(id=${fournisseur.id})}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/ajouterFournisseur" class="btn btn-success">Ajouter un nouveau fournisseur</a>
</div>
</body>
</html>
